extends layout

block content
    div.text-center
        form(class="form-group" method="POST",action="/courselist") 
            div.text-center
                p Welcome #{username}!

                p Courses succesfully applied
            
                ul(class="list-group list-group-flush")
                    each sub in data.courses
                        div.checkbox-inline
                            li(for=sub.code class="list-group-item")=sub
                br
                br
                

                a(href='/logout') Logout 

